* {margin: 0; padding: 0}

table {
	border-spacing: 0;	
}

td {
	border-right: 5px solid black;
	border-bottom: 5px solid black;
	height: 50px;
	width: 50px;
}

td:last-child {
	border-right: none;
}

tr:last-child td {
	border-bottom: none;
}